body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
}

.header {
  padding-top: 20px;
  background-color: #0A0A09;
  margin-bottom: 20px;
}
.header__menu {
  padding-top: 40px;
}
.header__menu ul {
  display: flex;
  padding: 5px 5px;
}
.header__menu li {
  list-style-type: none;
  margin-right: 30px;
}
.header__menu a {
  margin-right: 30px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  text-decoration: none;
  color: #fff;
}
.header__menu a:hover {
  border-bottom: 1px solid #ffffff;
}
.header__bars {
  display: none;
  font-size: 15px;
  cursor: pointer;
}
.header__bars i {
  color: white;
}
.header__tel a {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  font-size: 16px;
}
.header__tel i {
  margin-left: 10px;
  color: #fff;
}

.good::before {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  left: -10px;
  top: 230px;
  background-color: #9C9C9C;
}
.good::after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  left: -10px;
  top: 320px;
  background-color: #9C9C9C;
}
.good__desc {
  padding: 30px 0;
}
.good__desc::before {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  left: -10px;
  top: 180px;
  background-color: #9C9C9C;
}
.good__desc span {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #9C9C9C;
  margin-right: 10px;
}
.good__desc i {
  color: #9C9C9C;
  margin-right: 10px;
}
.good__desc a {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #28553F;
  text-decoration: none;
}
.good__content {
  padding-top: 10px;
  padding-bottom: 30px;
}
.good__title h4 {
  font-family: Raleway;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  color: #0A0A09;
}
.good__name span {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #28553F;
}
.good__name a {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #9C9C9C;
  text-decoration: none;
}

.home__sena {
  display: flex;
}
.home__bloc {
  padding-top: 20px;
}
.home__icon i {
  margin-left: 20px;
  padding: 42px 6px;
  background-color: #f9f9f9;
  color: #9C9C9C;
  border: 1px solid #ded9d9;
}
.home__iconi i {
  margin-left: 20px;
  padding: 42px 6px;
  background-color: #f9f9f9;
  color: #9C9C9C;
  border: 1px solid #ded9d9;
}
.home__nalichi span {
  margin-left: 20px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #28553F;
}
.home__sena {
  padding-top: 20px;
}
.home__sena h5 {
  font-family: Raleway;
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: #0A0A09;
}
.home__sena h6 {
  padding-top: 10px;
  margin-left: 15px;
  text-decoration: line-through;
  font-family: Raleway;
  font-size: 23px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #9C9C9C;
}
.home__sena p {
  margin-left: 20px;
  background-color: #28553F;
  padding: 5px 10px;
  color: #f9f9f9;
}
.home__content p {
  font-family: Raleway;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #9C9C9C;
}
.home__son span {
  font-family: Raleway;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.home__son input {
  max-width: 60px;
  border: 1px solid #ded9d9;
  padding: 5px 1px;
}
.home__can p {
  background-color: #f9f9f9;
  color: #9C9C9C;
  padding: 7px 3px;
}
.home__can span {
  color: #9C9C9C;
}
.home__text p {
  padding-top: 30px;
}
.home__buttonlar {
  padding-top: 40px;
}
.home__buttonlar input {
  padding: 17px 20px;
  border: 1px solid #ded9d9;
  margin-left: 40px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.bn {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
  padding: 20px 40px;
  background-color: #28553F;
  border: none;
  padding: 20px 50px;
  transition: all 0.3s ease-in-out;
}
.bn:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}
.bn-in {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
  padding: 20px 40px;
  background-color: #28553F;
  border: none;
  padding: 10px 100px;
}

.tab__home {
  padding-top: 40px;
}
.tab__title {
  position: relative;
}
.tab__title span {
  font-size: 20px;
  margin-left: 20px;
  color: #28553F;
  font-weight: bold;
}
.tab__title::before {
  content: "";
  height: 3px;
  width: 170px;
  position: absolute;
  left: -10px;
  top: 50px;
  background-color: #28553F;
}
.tab__desc {
  padding-top: 40px;
}
.tab__content {
  position: relative;
}
.tab__content::before {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  left: -10px;
  top: 50px;
  background-color: #ded9d9;
}

.cart {
  padding: 60px 0;
  position: relative;
}
.cart__image {
  text-align: center;
  padding-top: 30px;
}
.cart__name span {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #28553F;
  padding: 30px 30px;
  margin-bottom: 10px;
}
.cart__name p {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  width: 200px;
  padding-left: 30px;
  margin-bottom: 10px;
}
.cart__arzon {
  padding-left: 30px;
}
.cart__arzon h5 {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #28553F;
}
.cart__qimat {
  padding-left: 20px;
}
.cart__qimat h6 {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #949981;
  text-decoration: line-through;
}
.cart__block {
  background-color: #fff;
  margin-bottom: 30px;
  position: relative;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}
.cart__button {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px;
}
.cart__aksiya span {
  position: absolute;
  right: 29px;
  top: 30px;
  font-family: Raleway;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  background: rgba(255, 255, 255, 0.4509803922);
  padding: 10px 15px;
}
.cart__desc p {
  font-family: Raleway;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  opacity: 0.5;
  padding: 20px 0;
}
.cart__title {
  position: relative;
  padding: 30px 0;
}
.cart__title h4 {
  font-family: Raleway;
  font-size: 50px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  color: #28553F;
}
.cart__title::before {
  content: "";
  height: 2px;
  width: 150px;
  position: absolute;
  left: 10px;
  top: 0;
  background-color: #28553F;
}

.accordion {
  margin-bottom: 40px;
}
.accordion-button:not(.collapsed)::after {
  display: none;
}
.accordion-item2 h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
  color: #28553F;
}
.accordion-button:not(.collapsed) {
  box-shadow: none;
}
.accordion-item2 .accordion-button {
  background-color: rgb(255, 255, 255);
  border-bottom: 3px solid #ded9d9;
}
.accordion-item2 .accordion-button::before {
  content: "";
  height: 3px;
  width: 200px;
  position: absolute;
  left: 0;
  top: 95px;
  background-color: #28553F;
}
.accordion-button:focus {
  z-index: 3;
  outline: 0;
  border-color: none;
  box-shadow: none;
}

.anima {
  background-image: url(/image/bg\ image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
  position: relative;
  z-index: 1;
}
.anima::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(89.82deg, rgba(0, 0, 0, 0.93) 40.01%, rgba(0, 0, 0, 0.7) 66.12%, rgba(255, 255, 255, 0) 87.98%);
  z-index: -2;
}
.anima__title {
  z-index: 3;
}
.anima__title h4 {
  font-family: Raleway;
  font-size: 28px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: #fffdfd;
}
.anima__title p {
  padding-top: 20px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}
.anima__input {
  padding: 40px 0;
}
.anima__input p {
  padding: 20px 0;
}
.anima__input input {
  padding: 10px 30px;
  color: #fff;
  background-color: transparent;
  border: 1px solid rgba(243, 243, 243, 0.6980392157);
}

#chek {
  color: #0A0A09;
  background-color: #ffffff;
  padding: 10px 70px;
}

.footer {
  background-color: #0A0A09;
  padding: 40px 0;
  position: relative;
}
.footer::before {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  left: -10px;
  top: 250px;
  background-color: #9C9C9C;
}
.footer__title {
  margin-bottom: 20px;
}
.footer__title h6 {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 1px;
  text-align: left;
  color: #fff;
}
.footer__desc li {
  list-style-type: none;
  margin-left: -35px;
  padding: 3px 0;
}
.footer__desc a {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: #9C9C9C;
}
.footer__tel {
  padding: 8px 0;
}
.footer__tel span {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}
.footer__tel a {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: #9C9C9C;
}
.footer__email {
  padding: 10px 0;
}
.footer__email span {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}
.footer__email a {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: #9C9C9C;
}
.footer__social i {
  background-color: #282A30;
  padding: 18px;
  border-radius: 6px;
  margin-right: 15px;
  color: #FFFFFF;
}
.footer__social i:hover {
  background-color: #28553F;
}
.footer__par {
  padding-top: 40px;
}
.footer__par p {
  color: #fff;
  text-align: center;
}

@media (max-width: 1200px) {
  .footer::before {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    left: -10px;
    top: 300px;
    background-color: #9C9C9C;
  }
  .footer__social i {
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }
}
@media (max-width: 992px) {
  .header__menu {
    display: none;
  }
  .header__tel i {
    margin-left: 7px;
  }
  .header__bars {
    display: block;
  }
  .good::before {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    left: -10px;
    top: 224px;
    background-color: #9C9C9C;
  }
  .good::after {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    left: -10px;
    top: 350px;
    background-color: #9C9C9C;
  }
  .good__title h4 {
    font-size: 30px;
  }
  .good__name span {
    font-size: 13px;
  }
  .good__name a {
    font-size: 13px;
  }
  .good__desc::before {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    left: -10px;
    top: 267px;
    background-color: #9C9C9C;
  }
  .footer__desc a {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: #9C9C9C;
  }
  .footer__logo img {
    max-width: 300px;
    height: 50px;
  }
  .footer__social i {
    padding: 10px;
    margin-right: 10px;
  }
  .anima__input input {
    padding: 10px 22px;
  }
}
@media (max-width: 768px) {
  .header__logo img {
    height: 100px;
    max-width: 200px;
    margin-top: -50px;
  }
  .good::before {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    left: -10px;
    top: 181px;
    background-color: #9C9C9C;
  }
  .good::after {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    left: -10px;
    top: 230px;
    background-color: #9C9C9C;
  }
  .good__desc::before {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    left: -10px;
    top: 311px;
    background-color: #9C9C9C;
  }
  .home__img img {
    height: 450px;
    max-width: 570px;
  }
  .home__image {
    display: none;
  }
  .home__can p {
    font-size: 14px;
  }
  .home__can span {
    font-size: 14px;
  }
  .anima__input input {
    margin-bottom: 20px;
  }
  .footer::before {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    left: -10px;
    top: 450px;
    background-color: #9C9C9C;
  }
}
@media (max-width: 567px) {
  .header__logo img {
    height: 60px;
    max-width: 150px;
    margin-top: -40px;
  }
  .header__tel {
    margin-left: 160px;
  }
  .header__tel i {
    margin-left: 5px;
  }
  .header__tel a {
    font-size: 12px;
    margin-right: 7px;
  }
  .header__bars {
    display: block;
    margin-left: 300px;
  }
  .good::before {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    left: -10px;
    top: 129px;
    background-color: #9C9C9C;
  }
  .good__desc span {
    font-size: 12px;
  }
  .good__desc a {
    font-size: 12px;
  }
  .good__desc .fa-caret-right:before {
    content: "\f0da";
    font-size: 13px;
  }
  .good__desc::before {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    left: -10px;
    top: 169px;
    background-color: #9C9C9C;
  }
  .good__title h4 {
    font-size: 20px;
  }
  .good__content {
    padding-top: 0;
  }
  .home__img {
    text-align: center;
  }
  .home__img img {
    height: 300px;
    max-width: 400px;
  }
  .home__image1 {
    display: none;
  }
  .home__icon {
    display: none;
  }
  .home__iconi {
    display: none;
  }
  .home__can p {
    font-size: 10px;
  }
  .home__buttonlar input {
    font-size: 14px;
    padding: 15px 17px;
    border: 1px solid #ded9d9;
    margin-left: 40px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  .tab__desc p {
    font-size: 12px;
  }
  .tab__title span {
    font-size: 16px;
  }
  .accordion-item2 h5 {
    font-size: 16px;
  }
  .accordion-item2 p {
    font-size: 12px;
  }
  .bn {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
    padding: 18px 25px;
    background-color: #28553F;
    border: none;
    padding: 17px 18px;
  }
  .bn-in {
    padding: 10px 100px;
  }
  .footer::before {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    left: -10px;
    top: 730px;
    background-color: #9C9C9C;
  }
  .footer__logo {
    text-align: center;
  }
  .footer__logo img {
    max-width: 300px;
    height: 100px;
  }
  .footer__content {
    padding-left: 50px;
  }
  .footer__bloc {
    padding-left: 50px;
  }
  .footer__title h6 {
    font-size: 20px;
  }
}
@media (max-width: 380px) {
  .home__img img {
    height: 219px;
    max-width: 313px;
  }
  .home__nalichi span {
    font-size: 13px;
  }
  .home__nalichi img {
    height: 20px;
  }
  .home__sena h5 {
    font-size: 20px;
  }
  .home__sena h6 {
    font-size: 12px;
  }
  .home__sena p {
    font-size: 12px;
    padding: 7px 8px;
  }
  .home__content p {
    font-size: 10px;
  }
  .home__text p {
    font-size: 14px;
  }
  .home__buttonlar input {
    font-size: 11px;
    padding: 15px 17px;
    border: 1px solid #ded9d9;
    margin-left: 17px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  .home__can span {
    font-size: 10px;
  }
  .cart__title h4 {
    font-size: 27px;
    padding-left: 20px;
  }
  .cart__title::before {
    content: "";
    height: 2px;
    width: 126px;
    position: absolute;
    left: 18px;
    top: 29px;
    background-color: #28553F;
  }
  .cart__image img {
    height: 200px;
    width: 200px;
  }
  .bn {
    font-family: Raleway;
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
    padding: 18px 25px;
    background-color: #28553F;
    border: none;
    padding: 14px 10px;
  }
  .bn-in {
    padding: 10px 80px;
  }
  .accordion-item2 p {
    font-size: 10px;
  }
  .accordion-item2 h5 {
    font-size: 14px;
  }
  .accordion-button::before {
    content: "";
    height: 3px;
    width: 150px;
    position: absolute;
    left: 0;
    top: 95px;
    background-color: #28553F;
  }
  .good__title h4 {
    font-size: 15px;
  }
  .good__name span {
    font-size: 10px;
  }
  .good__name a {
    font-size: 10px;
  }
  .header__bars {
    display: block;
    margin-left: 200px;
  }
  .header__tel a {
    font-size: 10px;
    margin-right: 1px;
  }
  .header__logo img {
    height: 60px;
    max-width: 150px;
    margin-top: -60px;
  }
}/*# sourceMappingURL=main3.css.map */